<html>
  
</html>
{% extends "base.html" %}

{% block title %}Editando elemento{% endblock %}
{#data lista_conjunta=[headers types options record] pk#}
{% block content %}
  <form action="{% url 'editar elemento' %}" class="form" method="post">
    <h4 class="h4">Editando {{data}}</h4>
   {% csrf_token %} 
     <input type="hidden" id="data" name="data" value="{{data}}">
     <input type="hidden" id="ID" name="ID" value="{{pk}}">
   {% for name,type,options,value in lista_conjunta %}
     <label for="{{name}}">{{name}}:</label>
   {% if type == 'Char' %}
  <input type="text" id="{{name}}" class="w-100 input" name="{{name}}" value="{{value}}" maxlength="100" required="">
   {% elif type == 'Int' %}
  <input type="number" id="{{name}}" class="w-100 input" name="{{name}}" value="{{value}}" maxlength="100" required="">
   {% elif type == 'Choices' %}
      <select id="{{name}}" name="{{name}}" class="w-100 input" maxlength="100">
         {% for option in options %}
      <option value="{{option}}" {% if option == value %}selected{% endif %}>{{option}}</option>
         {% endfor %}
      </select>
   {% elif type == 'Select' %}
      <select id="{{name}}" name="{{name}}" class="w-100 input" maxlength="100">
         {% for option in options %}
         <option value="{{option}}"{% if option == value %}selected{% endif %}>{{option}}</option>
         {% endfor %}
      </select>
   {% elif type == 'Date' %}
   <input type="date" id="{{name}}" name="{{name}}" class="w-100 input" value="{{value}}" maxlength="100" required="">
   {% elif type == 'Boolean' %}
      <select id="{{name}}" name="{{name}}" class="w-100 input" maxlength="100">
         <option value="True" {% if value == True %}selected{% endif %}>True</option>
         <option value="False" {% if value == False %}selected{% endif %}>False</option>
      </select>
   {% endif %}
   {% endfor %}
    <input type="submit" class="w-100 input btn mt-5 py-5 bg-editar" value="Editar">
  </form>   
{% endblock %}
