
{% extends "base.html" %}

{% block title %}Listado{% endblock %}
{# data headers records #}
{% block content %}
  <table>
    <tr>
      {% for header in headers %}
      <th>
        {{header}}
      </th>    
      {% endfor %}
      <th>Acciones</th>
    </tr>
    {% for record in records %}
    <tr>
    {% for value in record%}
      <td>
        {{value}}  
      </td>
    {% endfor %}
      <td>
        <button class="btn bg-editar"><a class="color-white" href="/app/editar/{{data}}/{{record.pk}}">Editar</a></button>
        <button class="btn bg-eliminar"><a class="color-white" href="/app/eliminar/{{data}}/{{record.pk}}">Eliminar</a></button>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <button class="btn bg-crear"><a class="color-white" href="/app/agregar/{{data}}">Agregar</a></button>
{% endblock %}
